

html,body,#app{
    height:100%;
    margin: 0;
    padding: 0;
}

.el-table{
    width: 100%;
    margin-top: 20px;
}

.el-breadcrumb{
    font-size: 16px;
    margin-bottom: 15px;
}
.el-pagination{
    margin-top: 10px;
    text-align: right;
}